<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <webSocket enabled="false" />
      <handlers>
        <remove name="aspNetCore" />
        <add name="choirloom-node" path="entry.cjs" verb="*" modules="iisnode" resourceType="Unspecified" />
      </handlers>
      <rewrite><rules><rule name="Choirloom" stopProcessing="true"><match url=".*"/><action type="Rewrite" url="entry.cjs"/></rule></rules></rewrite>
      <iisnode nodeProcessCommandLine="%HOME%\site\choirloom-app\runtime\node.exe" node_env="production" watchedFiles="web.config;entry.cjs" loggingEnabled="true" logDirectory="iisnode" devErrorsEnabled="false" nodeProcessCountPerApplication="1" />
      <security><requestFiltering><requestLimits maxAllowedContentLength="16777216"/></requestFiltering></security>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
